<log4net debug="true">
  <appender name="ElasticSearchAppender" type="log4net.ElasticSearch.ElasticSearchAppender, log4net.ElasticSearch">
    <!--<layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%c %d %7level %15property{ip} -%m ex:%exception %n" />
      </layout>-->
    <!-- ES地址  rolling=true：表示每天一个index（newjp_log_2019.01.13）  -->
    <connectionString value="Scheme=http;Server=192.168.0.234;Index=newjp_log;Port=9200;rolling=true"/>

    <!-- 有损配置： 如果配置的buffer满了还没来的及刷新到es中，那么新来的log将会被丢弃。 -->
    <lossy value="false" />

    <!-- buffer池的阈值50，一旦满了就会触发flush 到 es的动作（bulk api） -->
    <bufferSize value="50" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <!-- 表示 小于ERROR级别的日志会进入buffer数组，大于等于这个级别的，直接提交给es。
            通常情况下，ERROR级别的错误，我们直接塞到ES中，这样更有利于我们发现问题。 DEBUG,INFO WARN ERROR -->
      <threshold value="ERROR"/>
    </evaluator>
  </appender>
  <appender name="ElasticSearchAsyncAppender" type="log4net.ElasticSearch.Async.ElasticSearchAsyncAppender, log4net.ElasticSearch.Async">
    <!-- for .NET 40 <appender name="ElasticSearchAsyncAppender" type="log4net.ElasticSearch.Async.ElasticSearchAsyncAppender, log4net.ElasticSearch.Async.Net40">-->
    <connectionString value="Scheme=http;Server=192.168.0.234;Index=newjp_log;Port=9200;rolling=true;GzipCompression=true;
                           " />

    <!-- 有损配置： 如果配置的buffer满了还没来的及刷新到es中，那么新来的log将会被丢弃。 -->
    <lossy value="false" />

    <!-- buffer池的阈值50，一旦满了就会触发flush 到 es的动作（bulk api） -->
    <bufferSize value="50" />
    <evaluator type="log4net.Core.LevelEvaluator">
      <!-- 表示 小于ERROR级别的日志会进入buffer数组，大于等于这个级别的，直接提交给es。
            通常情况下，ERROR级别的错误，我们直接塞到ES中，这样更有利于我们发现问题。 DEBUG,INFO WARN ERROR -->
      <threshold value="ERROR"/>
    </evaluator>
    <!--<maxRetries>10</maxRetries>
     <retrySeedDelay>00:00:05</retrySeedDelay>
     <retryMaxDelay>00:05:00</retryMaxDelay>
     <onCloseTimeout>00:00:10</onCloseTimeout>
     <externalIpCheckAddress>8.8.8.8</externalIpCheckAddress>
     <flushTriggerBufferSize>256</flushTriggerBufferSize>
     <rollingBufferSize>2048</rollingBufferSize>-->
  </appender>
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="E:\logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="100KB" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />-->
      <conversionPattern value="%c %d %7level %15property{ip} -%m ex:%exception %n" />
    </layout>
  </appender>
  <root>
    <!-- 指定所有的loglevel(DEBUG,INFO,WARN,ERROR)级别都是用 ElasticSearchAppender 处理 -->
    <level value="ALL" />
    <appender-ref ref="RollingLogFileAppender" />
    <!--<appender-ref ref="ElasticSearchAppender" />-->
    <!--<appender-ref ref="ElasticSearchAsyncAppender" />-->
  </root>
</log4net>